.inputForm{
  width: 80%;

  display: flex;
  align-items: center;
  justify-content:space-evenly;

}

.input {
  font-family:'Montserrat', sans-serif;
  
  height: 20px;
  flex-grow: 0.8;

  margin-right: 10px;
}

.inputEdit{
  background-color: #fffaf9;
  text-align: center;
}

