.button {
  border: #f8bfb3;
  width: 60px;
  height: 30px;

  background-color: #ffd3c9;
}

.buttonHidden {
  width: 1px;
  display: none;
}

@media screen and (max-width: 400px) {
  .button {
    width: fit-content;
    height: 25px;
  
    margin-left: 5px;
  }
}